body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
}

button {
  padding: 5px 10px;
  border: 1px solid #aaaaaa7a;
  background: #fff;
  margin-right: 10px;
  border-radius: 6px;
  transition: scale 0.15s ease-out;

  &:hover {
    background-color: #eaeaea;
  }

  &:active {
    scale: 0.95;
  }
}