.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.note {
  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  width: 300px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 6px;

  h4 {
    margin-bottom: 10px;
  }

  .content,
  .created,
  .tags {
    margin-bottom: 10px;
  }

  .tag {
    display: inline-block;
    background: #ffffffc7;
    border-radius: 12px;
    padding: 5px 13px;
    margin-right: 6px;
    margin-bottom: 4px;
    font-size: 10px;
    text-transform: uppercase;
  }
}