.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.note {
  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  width: 300px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 6px;

  h4 {
    margin: 0 0 10px;
  }

  .content {
    margin: 10px 0;
  }
}