<h2>Nowa notatka</h2>
<div>
  <span>Tytuł:</span>
  <input type="text" name="title" [(ngModel)]="note.title" />
</div>
<div><span>Treść:</span> <textarea [(ngModel)]="note.content"></textarea></div>
<div><span>Kolor:</span> <input type="color" [(ngModel)]="note.color" /></div>
<div><span>Tagi:</span> <input type="text" [(ngModel)]="note.tags" /></div>
<div>
  <span>Data powiadomienia:</span
  ><input type="datetime-local" [(ngModel)]="note.notificationDate" />
</div>
<div><button (click)="onSave()">Zapisz</button></div>
