  div {
    margin: 10px;
    display: flex;
    align-items: center;

    span {
      width: 130px;
      display: inline-block;
    }
  }

  .theme {
    display: flex;
    align-items: center;
    gap: 6px;

    input {
      accent-color: #e36461;
      padding: 0;
      margin: 0;
    }

    label {
      margin-right: 10px;
    }
  }

  input[type="checkbox"] {
    accent-color: #e36461;
    padding: 2px 6px;
  }